<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{yyy-mm-dd HH:mm:ss.SSS} [%thread] [%c] %-5p - %m%n</pattern>
        </layout>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>/Users/hzhang/Desktop/defaultLog.log</file>
        <Append>true</Append>
        <ImmediateFlush>true</ImmediateFlush>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%date %level [%thread] [%c] %-5p - %m%n</pattern>
        </layout>
    </appender>
    <root>
        <!--value can change to TRACE/DEBUG-->
        <level value="DEBUG"/>
        <!--ref can change to FILE/CONSOLE -->
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
